# virtual environments
env
menu2lib.env

# sources
menulib.hh
menulib.cc
/menu.txt
L1Menu_*.xml

# binaries
testMenu2016

# outputs
results/

# C/C++ extensions
*.so
*.o
*.d
/objs


# rob custom
quickrun.sh
*.log